/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  scroll-behavior: smooth;
  background-color: #f8f9fa;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 2rem;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

nav.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

#hero {
  height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.btn {
  padding: 0.8rem 2rem;
  background-color: #66f2d5;
  color: #333;
  border: none;
  text-decoration: none;
  border-radius: 30px;
}
